tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
bin/Aspect.class
bin/aspect.properties
bin/build_analyze.xml
bin/build_compile.xml
bin/binbuild_coverage.xml
bin/build_generator.xml
bin/build_run.xml
bin/experiments/
bin/io/
bin/org/
bin/randoop/
bin/saferefactor/
bin/bug/
bin/cov/
bin/filters/
bin/safira/
bin/toys/
bin/util/
*.class
filewriter
/target/
